<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>THis is index html page </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nobis mollitia distinctio asperiores enim eveniet modi sunt repellendus recusandae excepturi dignissimos iusto rerum minus laborum sequi non consectetur animi fugiat perspiciatis nam architecto, cum delectus? Animi molestias reprehenderit quos voluptatibus maxime! Necessitatibus doloremque, quasi rem quibusdam optio voluptate, omnis alias suscipit dolores earum sit totam modi cum. Delectus unde ipsum, quasi recusandae consectetur animi reprehenderit fugiat voluptates sint libero temporibus suscipit minus sed earum autem nisi tempora! Nihil consectetur obcaecati eum sed delectus atque tempora cum molestias itaque, ipsa facilis possimus vero totam asperiores dolorum nesciunt illum excepturi fugiat, quis cupiditate odit aspernatur culpa autem debitis! Sequi totam ex atque voluptate at similique. Eius dolores similique voluptas in maxime provident.</p>
</body>
</html>